//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  background: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  // border: none;
  outline: none;
  color: white;
  border-bottom: 2px solid #46b4f2;
  @include adaptiveValue("font-size", 24, 16);
  line-height: math.div(33, 24);
  position: relative;

  @media (max-width: $mobile) {
    padding: 5px 0px;
  }

  &._focus {
  }
  &._form-error {
    &::placeholder {
      color: #9b1e1e;
    }
    border-color: #9b1e1e;
  }
}

.input::placeholder {
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #060606 inset;
  transition: background-color 5000s ease-in-out 0s;
}
