//====================================================================================================
.footer {
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(100);

    @media (max-width: $mobile) {
      min-height: rem(95);
      // justify-content: end;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 68, 20, 1920, 768);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(8);
    }
    p {
      @include adaptiveValue("font-size", 16, 13);
      line-height: math.div(22, 16);
      color: #46b4f2;
    }

    a {
      @media (max-width: $mobile) {
        @include adaptiveValue("font-size", 16, 13);
      }
    }
  }

  &__link {
    display: flex;
    @include adaptiveValue("gap", 115, 50, 1920, 768);
    a {
      font-size: 16px;
      line-height: 22px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

//====================================================================================================
